VITE_GOOGLE_CLIENT_ID=oauth2clientid
VITE_API_URL=http://localhost:3000
GOOGLE_CLIENT_ID=oauth2clientid
AWS_ACCESS_KEY_ID=IAM acces key ID
AWS_SECRET_ACCESS_KEY=iam secret access key

# SMTP email notification
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=smtp-user
SMTP_PASS=smtp-password
SMTP_FROM="KoTA101 Notification <no-reply@example.com>"

#Blockchain
CHAIN_NAME=portfoliochain
AUDIT_STREAM_NAME=kegiatan_audit

#Node D3
D3_IP=ec2 IP address for node D3
D3_RPC_PORT=8570
D3_RPC_USERNAME=multichainrpc
D3_RPC_PASSWORD=password for rpc user

#Node D4
D4_IP=ec2 IP address for node D4
D4_RPC_PORT=8570
D4_RPC_USERNAME=multichainrpc
D4_RPC_PASSWORD=password for rpc user
