# Database
DATABASE_URL=postgresql://portfolio_user:secretpassword@localhost:5432/portfolio_blockchain_db

# JWT Secret
JWT_SECRET=your-super-secret-key-change-this-in-production
CLIENT_ID=oauth2clientid

# Admin Credentials (untuk seed)
ADMIN_EMAIL=admin@university.ac.id
ADMIN_PASSWORD=AdminPassword123
ADMIN_NAME=Administrator

AWS_S3_BUCKET=nama bucket S3 untuk menyimpan file


# Server
NODE_ENV=development
PORT=3000

#Blockchain
CHAIN_NAME=portfoliochain
AUDIT_STREAM_NAME=kegiatan_audit

#Node D3
D3_IP=ec2 IP address for node D3
D3_RPC_PORT=8570
D3_RPC_USERNAME=multichainrpc
D3_RPC_PASSWORD=password for rpc user

#Node D4
D4_IP=ec2 IP address for node D4
D4_RPC_PORT=8570
D4_RPC_USERNAME=multichainrpc
D4_RPC_PASSWORD=password for rpc user