# Database
DATABASE_URL=postgresql://portfolio_user:secretpassword@localhost:5432/portfolio_blockchain_db

# JWT Secret
JWT_SECRET=your-super-secret-key-change-this-in-production
CLIENT_ID=oauth2clientid

# Admin Credentials (untuk seed)
ADMIN_EMAIL=admin@university.ac.id
ADMIN_PASSWORD=AdminPassword123
ADMIN_NAME=Administrator

AWS_S3_BUCKET=nama bucket S3 untuk menyimpan file


# Server
NODE_ENV=development
PORT=3000

#Blockchain
CHAIN_NAME=portfoliochain
AUDIT_STREAM_NAME=kegiatan_audit

# Generic blockchain nodes on the same chain
MULTICHAIN_N1_IP=ec2 IP address for node 1
MULTICHAIN_N1_RPC_PORT=8570
MULTICHAIN_N1_RPC_USERNAME=multichainrpc
MULTICHAIN_N1_RPC_PASSWORD=password for rpc user

MULTICHAIN_N2_IP=ec2 IP address for node 2
MULTICHAIN_N2_RPC_PORT=8570
MULTICHAIN_N2_RPC_USERNAME=multichainrpc
MULTICHAIN_N2_RPC_PASSWORD=password for rpc user

MULTICHAIN_N3_IP=ec2 IP address for node 3
MULTICHAIN_N3_RPC_PORT=8570
MULTICHAIN_N3_RPC_USERNAME=multichainrpc
MULTICHAIN_N3_RPC_PASSWORD=password for rpc user
